body {
    background-color: #E0E0E0;
    color: #330066;
}
.navbar {
    background-color: #00FF7F;
    color: #330066;
}


/*
    Dark Grey: #2C3E50
    Bright Blue: #3498DB
    Red: #E74C3C
    Orange: #FFA07A
    Dark Purple: #330066
    Bright Blue: #00BFFF
    Light Grey: #E0E0E0
    Bright Green: #00FF7F
    Black: #000000
*/